/* VUE TRANSITIONS */

// FADE
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// SLIDE RIGHT IN / LEFT OUT
.slide-right-in-leave-active,
.slide-right-in-enter-active {
  transition: 0.2s ease-in-out;
}
.slide-right-in-enter {
  transform: translate(150%, 0);
}
.slide-right-in-leave-to {
  transform: translate(-50%, 0);
}

// SLIDE LEFT IN / RIGHT OUT
.slide-left-in-leave-active,
.slide-left-in-enter-active {
  transition: 0.2s ease-in-out;
}
.slide-left-in-enter {
  transform: translate(-150%, 0);
}
.slide-left-in-leave-to {
  transform: translate(50%, 0);
}

// BOUNCE
.bounce-enter-active {
    animation: bounce-in .3s;
}
.bounce-leave-active {
    animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
    0% {
        @apply text-custom-gold-light;
        transform: scale(0);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        @apply text-black;
        transform: scale(1);
    }
}

// FILTER
.list-filter-enter,
.list-filter-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-filter-leave-active {
  position: absolute;
}


