/* VUE TRANSITIONS */

// FADE
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// GROW
.grow-enter-active {
    animation: grow .5s;
  }
  .grow-leave-active {
    animation: grow .5s reverse;
  }
  @keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

// SLIDE RIGHT IN / LEFT OUT
.slideRightIn-leave-active,
.slideRightIn-enter-active {
  transition: 0.2s ease-in-out;
}
.slideRightIn-enter {
  transform: translate(150%, 0);
}
.slideRightIn-leave-to {
  transform: translate(-50%, 0);
}

// SLIDE LEFT IN / RIGHT OUT
.slideLeftIn-leave-active,
.slideLeftIn-enter-active {
  transition: 0.2s ease-in-out;
}
.slideLeftIn-enter {
  transform: translate(-150%, 0);
}
.slideLeftIn-leave-to {
  transform: translate(50%, 0);
}

// BOUNCE
.bounce-enter-active {
    animation: bounce-in .3s;
}
.bounce-leave-active {
    animation: bounce-in .3s reverse;
}
@keyframes bounce-in {
    0% {
        @apply text-custom-gold-light;
        transform: scale(0);
    }
    50% {
        transform: scale(1.8);
    }
    100% {
        @apply text-black;
        transform: scale(1);
    }
}

// FILTER
.listFilter-enter,
.listFilter-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.listFilter-leave-active {
  position: absolute;
}


